<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="python" arguments="-m flask run --host=0.0.0.0 --port=8000" stdoutLogEnabled="true" stdoutLogFile=".\logs\python.log" startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="FLASK_APP" value="app.py"/>
        <environmentVariable name="PYTHONPATH" value="."/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>